@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}



.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11vh;
    background-color:  lightgray;
    padding: 10px;
    gap: 15px;
}

.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}


.nav-bar{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   padding-right: 600px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 14px;
}

.nav-bar a{
    text-decoration: none;
    color: black;

}

.logo{
    margin-right: 30px;
    color: #2f9e41;
    font-size: 24px;
    font-weight: bold;
}

.logo > i{
    font-size: 28px;
}

.container-action-links{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.action-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
}

.action-links i{
    font-size: 19px;
}

.action-links a{
    text-decoration: none;
    color: black;
}

.busca {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.busca input[type="text"] {
  width: 100%;
  padding: 10px 15px; 
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 7px; 
}

.busca i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #2f9e41;
  font-size: 16px;
  pointer-events: none;
}

/*.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 20px;
    background-color: #2f9e41;
}
*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f9e41;
    width: 100%;
    height: 150px;
    padding: 10px 15px;  
    gap: 1rem;
}

.banner h1{
    color: white;
    font-size: 32px;
}

.banner p{
    color: white;
    font-size: 19px;
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;

}

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    gap: 60px;
    width: 100%;
    height: 20%;
    border-radius: 20px;
}

.content-categoria i{
    color: white;
    font-size: 24px;
}

.icon-categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f9e41;
    width: 60px;
    height: 60px;
    border-radius: 30px
}

.destaques{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 70%;
    border-radius: 20px;
}

.destaques img{
    width: 100px;
    
}


